li {
    list-style: none;
}

.pokemon-button {
    display: inline-block;
    background-color: #357b70;
    color: #f4f4f4;
    text-align: center;    
    text-decoration: none;
    font-size: 16px;
    padding: 16px;
    margin: 4px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

